.qwiz {
   position:        relative;
   border:          2px solid black;
   width:           500px;
   min-height:      300px;
   padding:         5px;
   box-sizing:      content-box;
   -moz-box-sizing: content-box;
}

.xqwiz {
   visibility:      hidden;
   height:          0px;
   box-sizing:      content-box;
   -moz-box-sizing: content-box;
}

.qwiz img {
   border:          0px;
}

div.qwiz-header {
   color:           white;
   background:      black;
   padding:         0px;
                  /* top right bot left */
   margin:          -5px -5px 0px -5px;
}

/* All sub-elements of header have zero margin. */
div.qwiz-header * {
   margin:          0px !important;
   padding:         0px 5px 0px 5px !important;
}

.qwiz-mode {
   font-size:       90%;
   display:         inline-block;
   margin:          0px;
   padding-left:    3px;
   padding-right:   3px;
   color:           gray;
   cursor:          help;
}

.qwiz-progress {
   font-size:       90%;
   display:         inline-block;
   float:           right;
   margin:          0px;
   color:           gray;
}

.qwiz-usermenu_icon {
   visibility:      hidden;
   float:           right;
   margin-top:      -2px;
   margin-left:     3px;
   transform:       scale(1.0, 0.65);
   -webkit-transform: scale(1.0, 0.65);
}

.qwiz-icon-bounce {
   animation-name:                    icon-bounce;
   animation-duration:                3.5s;
   animation-iteration-count:         infinite;

   -webkit-animation-name:            icon-bounce;
   -webkit-animation-duration:        3.5s;
   -webkit-animation-iteration-count: infinite;
}
@keyframes icon-bounce {
   from {
      margin-top:   -2px;
   } 7% {
      margin-top:   -10px;
   } 15% {
      margin-top:   -2px;
   } 22% {
      margin-top:   -7px;
   } 30% {
      margin-top:   -2px;
   } 37% {
      margin-top:   -7px;
   } 50% {
      margin-top:   -2px;
   } to {
      margin-top:   -2px;
   }
}

@-webkit-keyframes icon-bounce {
   from {
      margin-top:   -2px;
   } 7% {
      margin-top:   -10px;
   } 15% {
      margin-top:   -2px;
   } 22% {
      margin-top:   -7px;
   } 30% {
      margin-top:   -2px;
   } 37% {
      margin-top:   -7px;
   } 50% {
      margin-top:   -2px;
   } to {
      margin-top:   -2px;
   }
}

div.qwiz-usermenu {
   position:        absolute;
   display:         none;

   /* Keep in front of labels. */
   z-index:         3;

   top:             3px;
   right:           3px;
   background:      white;
   padding:         5px;
   border:          2px solid rgba(79, 112, 153, 1);
   box-shadow:      -3px 3px 2px gray;
}

div.qwiz-usermenu div {
   padding-bottom:  5px;
}

/* Login starts out hidden. */
.qwiz-login {
   display:             none;
   text-align:          center;
}

.qwiz-login p {
   margin-bottom:       6px;
}

.qwiz-login input {
   padding:             3px;
}

.qwiz-login table {
   width:               auto;
   text-align:          center;
}

.qwiz-login td {
   border:              none;
}

.qwiz-login td.qwiz-remember {
   position:            relative;
   border:              none;
   text-align:          center;
   vertical-align:      top;
}

span.qwiz-remember {
   position:            relative;
   font-size:           80%;
}

span.qwiz-remember span {
   position:            relative;
   top:                 2px;
}

span.qwiz-remember input[type=checkbox] {
   transform:           scale(0.8);
   -webkit-transform:   scale(0.8);
}

.qwiz-login p.login_error {
   display:             none;
   color:               red;
   font-weight:         bold;
}


/* Questions start out hidden. */
.qwizq {
   display:             none;
   position:            relative;
}

.qwiz_textentry {
   font-weight:         bold;
   color:               blue;
}

input.qwiz_textentry::-webkit-input-placeholder {
   font-size:           83%;
   font-weight:         normal;
   color:               gray;
}

input.qwiz_textentry::-moz-placeholder {
   font-size:           83%;
   font-weight:         normal;
   color:               gray;
}

/* Older versions of Firefox */
input.qwiz_textentry:-moz-placeholder {
   font-size:           83%;
   font-weight:         normal;
   color:               gray;
}

input.qwiz_textentry:-ms-input-placeholder {
   font-size:           83%;
   font-weight:         normal;
   color:               gray;
}

 .ui-autocomplete {
    font-size:        10pt;
    max-height:       200px;
    overflow-y:       auto;

   /* Prevent horizontal scrollbar. */
    overflow-x:       hidden;
 }

 .ui-state-hover,
 .ui-widget-content .ui-state-hover,
 .ui-widget-header .ui-state-hover,
 .ui-state-focus,
 .ui-widget-content .ui-state-focus,
 .ui-widget-header .ui-state-focus {
    color:            #0000ff;
 }

.qwiz-choice:hover {
   cursor:          pointer;
   color:           #045FB4;
}

.qwiz-choices p {
   padding-left:    1.6em;
   text-indent:     -1.6em;
   margin-top:      0px;
   margin-bottom:   0.5em;
}

.qwiz-feedback {
   display:         none;
}

.qwiz-feedback p {
   margin-bottom:   0.3em;
}

div.icon_qwiz {
   position:        absolute;
   left:            2px;
   bottom:          2px;
   width:           16px;
   height:          16px;
}

img.icon_qwiz {
   opacity:         0.4;
}

img.icon_qwiz:hover {
   opacity:         1.0;
}

/* Labeled-diagram layout table. */
table.qwizzled_table {
   width:           100%;
   border:          none;
   margin:          0px;
}

table.qwizzled_table p {
   margin:          0px;
}

/* Labeled-diagram "canvas" table cell. */
td.qwizzled_canvas {
   width:           75%;
   border:          none;
   padding:         0px;
}

/* Labeled-diagram labels table cell. */
td.qwizzled_labels {
   vertical-align:  top;
   border:          none;
   padding:         0px;
}

td.qwizzled_labels_left_right {
   width:           25%;
   min-width:       125px;
}

/* Box around labels. */
div.qwizzled_labels_border {
   border:          1px solid black;
   padding:         3px;
}

p.qwizzled_label_head {
   font-size:       85%;
   font-style:      italic;
   font-weight:     bold;
   line-height:     135%;
   margin-bottom:   0.5rem;
}

ul.qwizzled_labels {
   margin:          0px;
   padding:         0px;
}

/* Bulleted labels indent (= padding). */
ul.qwizzled_labels_std li {
   padding:         0px;
   margin:          0 0 0 1rem;
   margin-left:     1rem;
}

ul.qwizzled_labels_inline li {
   float:           left;
   padding:         0px;
   margin:          0 0 0 2rem;
   margin-left:     2rem;
}

/* Labeled-diagram labels feedback cell. */
td.qwizzled_feedback {
   border:          none;
}

button.qwizzled_try_again {
   width:           6em;
   height:          1.7em;
   padding:         2px;
   margin-bottom:   -3px;
   border:          1px solid black;
   border-radius:   5px;
   font-size:       9pt;
   font-weight:     normal;
   text-transform:  none;
   color:           black;
   background:      lightgray;
}

button.qwizzled_try_again:hover {
   color:           gray;
   background:      white;
   border:          1px solid gray;
}

div.qwizzled_target {
   width:           120px;
   height:          28px;
   margin-right:     -124px;
   margin-bottom:   -32px;
   position:        absolute;
   box-sizing:      content-box;
   -moz-box-sizing: content-box;
}

span.qwizzled_target {
   position:        relative;
}

.qwizzled_target_border {
   border:          2px dotted gray;
   padding-left:    2px;
   padding-right:   2px;
}

.qwizzled_border_all {
   border-width:    2px;
}

.qwizzled_border_left {
   border-width:    2px 0px 2px 2px;
}

.qwizzled_border_right {
   border-width:    2px 2px 2px 0px;
}

.qwizzled_border_center {
   border-width:    2px 0px 2px 0px;
}

.qwizzled_target_hover {
   outline:         3px solid lightgray;
}

.qwizzled_label {
   -webkit-user-select: none;
}

.qwizzled_label_unplaced {
   z-index:         2;
}

.qwizzled_highlight_label {
   cursor:          move;
   word-wrap:       normal;
   -webkit-user-select: none;
}

.qwizzled_label a {
   cursor:          move;
}

div.qwizzled_question_bottom_border_title {
   display:         none;
}

/* Summary also hidden. */
.summary {
   display:         none;
}

/* Starts out centered. */
.next_button {
   text-align:      center;
}

/* Starts out hidden. */
.textentry_check_answer_div {
   display:         none;
}

.qbutton {
   margin-bottom: 2px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 3px 3px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-weight: bold;
   font-family: arial, verdana, sans-serif;
   text-decoration: none;
   vertical-align: middle;
}
.qbutton_disabled {
   margin-bottom: 2px;
   border-top: 1px solid #cccccc;
   background: #cccccc;
   padding: 3px 3px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
   color: #e6e6e6;
   font-size: 14px;
   font-weight: bold;
   font-family: arial, verdana, sans-serif;
   text-decoration: none;
   vertical-align: middle;
}
.qbutton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
.qbutton:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
.qbutton p {
   margin: 0px;
}
